<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <!--<link rel="stylesheet" href="~/css/style.css"/>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
         <link href="https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function(){
                $("input, select").addClass("form-control");
                $("input, select").after("</br>")
                $("input").each(function(){
                    //console.log(document.form1[0].name)
                    $(this).attr( "placeholder", $(this).attr("name")); //sets the placeholder to the text of the name attribute
                })
            })

        </script>
        <style>
            h1, h2, h3, h4, h5, h6, p { text-align: center;
                                        font-family: 'Varela Round', sans-serif;}
            h1 {color: white;}
            body {background-color: #d7d7d7}
        </style>
    </head>
    <body><br><br>
        <div class="container">
            <nav class="navbar navbar-inverse">
                <h1>Dojo Survey C#</h1>
            </nav>
            

            <form action="survey" method="post" name="form1">
                 <label for="Name">Your Name:</label><input type="text" name="Name"/>

                 <label for="Location">Location</label><select name="Location">
                    <option value="San Jose">San Jose</option>
                    <option value="Dallas">Dallas</option>
                    <option value="DC">DC</option>
                    <option value="Los Angeles">Los Angeles</option>
                </select>

                <label for="Language">Language</label><select name="Language">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Ruby">Ruby</option>
                    <option value="C#">C#</option>
                    <option value="Java">Java</option>
                </select>

                <label for="comment">Comment:</label>
                <textarea name="Comment" class="form-control" rows="5"></textarea><br>

                <button class="btn btn-info">Submit</button>
            </form>
            
          
        </div>
    </body>
</html>