@{
    ViewData["Title"] = "Home Page";
}
<h1>Default Blank Page~</h1>
<p>Get to adding stuff</p>

<div>
    @{
        foreach(var user in ViewBag.Users)
            {
                //If there are any errors for a field...
                
                    // We show the first error for that field
                    <p>@user.Name</p>
                
            }
            
    }
</div>