
<h1>Login Page</h1>

<form action="login" method="post">
    <input type="text" name="Email">
    <input type="text" name="PasswordToCheck">
    <button>Login</button>
</form>

<h6>@TempData["Stuff"]</h6>
