<!DOCTYPE html>
  <html>
    <head>
        <!--Import jQuery before materialize.js-->
        <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      <link rel="stylesheet" href="~/css/style.css"/>
        <style> 
            h1, h2 {text-align: center;
                    float: center;
                    border: 1px solid gray;
                    border-radius: 10px;}
        </style>
    </head>

    <body>
        <h2>The Current Date and Time is:</h2><br>
        <h1> @ViewBag.x </h1> <hr>
    </body>
  </html>